In [1]:
# Install libraries in not availabl
import pandas as pd
import numpy as np
from pydataset import data

In [2]:
df = data('airquality')

In [3]:
df.shape

(153, 6)

In [4]:
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2

In [5]:
# shape 
df.shape

(153, 6)

In [6]:
# column names and dtaypes
df.columns 
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Temp         int64
Month        int64
Day          int64
dtype: object

In [9]:
# head 
df.head(5)

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

In [10]:
# Tail
df.tail(5)

     Ozone  Solar.R  Wind  Temp  Month  Day
149   30.0    193.0   6.9    70      9   26
150    NaN    145.0  13.2    77      9   27
151   14.0    191.0  14.3    75      9   28
152   18.0    131.0   8.0    76      9   29
153   20.0    223.0  11.5    68      9   30

In [11]:
# info summary
df.info

<bound method DataFrame.info of      Ozone  Solar.R  Wind  Temp  Month  Day
1     41.0    190.0   7.4    67      5    1
2     36.0    118.0   8.0    72      5    2
3     12.0    149.0  12.6    74      5    3
4     18.0    313.0  11.5    62      5    4
5      NaN      NaN  14.3    56      5    5
6     28.0      NaN  14.9    66      5    6
7     23.0    299.0   8.6    65      5    7
8     19.0     99.0  13.8    59      5    8
9      8.0     19.0  20.1    61      5    9
10     NaN    194.0   8.6    69      5   10
11     7.0      NaN   6.9    74      5   11
12    16.0    256.0   9.7    69      5   12
13    11.0    290.0   9.2    66      5   13
14    14.0    274.0  10.9    68      5   14
15    18.0     65.0  13.2    58      5   15
16    14.0    334.0  11.5    64      5   16
17    34.0    307.0  12.0    66      5   17
18     6.0     78.0  18.4    57      5   18
19    30.0    322.0  11.5    68      5   19
20    11.0     44.0   9.7    62      5   20
21     1.0      8.0   9.7    59      5   21
22    11.0    320.0  16.6    73      5   22
23     4.0     25.0   9.7    61      5   23
24    32.0     92.0  12.0    61      5   24
25     NaN     66.0  16.6    57      5   25
26     NaN    266.0  14.9    58      5   26
27     NaN      NaN   8.0    57      5   27
28    23.0     13.0  12.0    67      5   28
29    45.0    252.0  14.9    81      5   29
30   115.0    223.0   5.7    79      5   30
31    37.0    279.0   7.4    76      5   31
32     NaN    286.0   8.6    78      6    1
33     NaN    287.0   9.7    74      6    2
34     NaN    242.0  16.1    67      6    3
35     NaN    186.0   9.2    84      6    4
36     NaN    220.0   8.6    85      6    5
37     NaN    264.0  14.3    79      6    6
38    29.0    127.0   9.7    82      6    7
39     NaN    273.0   6.9    87      6    8
40    71.0    291.0  13.8    90      6    9
41    39.0    323.0  11.5    87      6   10
42     NaN    259.0  10.9    93      6   11
43     NaN    250.0   9.2    92      6   12
44    23.0    148.0   8.0    82      6   13
45     NaN    332.0  13.8    80      6   14
46     NaN    322.0  11.5    79      6   15
47    21.0    191.0  14.9    77      6   16
48    37.0    284.0  20.7    72      6   17
49    20.0     37.0   9.2    65      6   18
50    12.0    120.0  11.5    73      6   19
51    13.0    137.0  10.3    76      6   20
52     NaN    150.0   6.3    77      6   21
53     NaN     59.0   1.7    76      6   22
54     NaN     91.0   4.6    76      6   23
55     NaN    250.0   6.3    76      6   24
56     NaN    135.0   8.0    75      6   25
57     NaN    127.0   8.0    78      6   26
58     NaN     47.0  10.3    73      6   27
59     NaN     98.0  11.5    80      6   28
60     NaN     31.0  14.9    77      6   29
61     NaN    138.0   8.0    83      6   30
62   135.0    269.0   4.1    84      7    1
63    49.0    248.0   9.2    85      7    2
64    32.0    236.0   9.2    81      7    3
65     NaN    101.0  10.9    84      7    4
66    64.0    175.0   4.6    83      7    5
67    40.0    314.0  10.9    83      7    6
68    77.0    276.0   5.1    88      7    7
69    97.0    267.0   6.3    92      7    8
70    97.0    272.0   5.7    92      7    9
71    85.0    175.0   7.4    89      7   10
72     NaN    139.0   8.6    82      7   11
73    10.0    264.0  14.3    73      7   12
74    27.0    175.0  14.9    81      7   13
75     NaN    291.0  14.9    91      7   14
76     7.0     48.0  14.3    80      7   15
77    48.0    260.0   6.9    81      7   16
78    35.0    274.0  10.3    82      7   17
79    61.0    285.0   6.3    84      7   18
80    79.0    187.0   5.1    87      7   19
81    63.0    220.0  11.5    85      7   20
82    16.0      7.0   6.9    74      7   21
83     NaN    258.0   9.7    81      7   22
84     NaN    295.0  11.5    82      7   23
85    80.0    294.0   8.6    86      7   24
86   108.0    223.0   8.0    85      7   25
87    20.0     81.0   8.6    82      7   26
88    52.0     82.0  12.0    86      7   27
89    82.0    213.0   7.4    88      7   28
90    50.0    275.0   7.4    86      7   29
91    64.0    253.0   7.4    83      7   30
92    59.0    254.0   9.2    81      7   31
93    39.0     83.0   6.9    81      8    1
94     9.0     24.0  13.8    81      8    2
95    16.0     77.0   7.4    82      8    3
96    78.0      NaN   6.9    86      8    4
97    35.0      NaN   7.4    85      8    5
98    66.0      NaN   4.6    87      8    6
99   122.0    255.0   4.0    89      8    7
100   89.0    229.0  10.3    90      8    8
101  110.0    207.0   8.0    90      8    9
102    NaN    222.0   8.6    92      8   10
103    NaN    137.0  11.5    86      8   11
104   44.0    192.0  11.5    86      8   12
105   28.0    273.0  11.5    82      8   13
106   65.0    157.0   9.7    80      8   14
107    NaN     64.0  11.5    79      8   15
108   22.0     71.0  10.3    77      8   16
109   59.0     51.0   6.3    79      8   17
110   23.0    115.0   7.4    76      8   18
111   31.0    244.0  10.9    78      8   19
112   44.0    190.0  10.3    78      8   20
113   21.0    259.0  15.5    77      8   21
114    9.0     36.0  14.3    72      8   22
115    NaN    255.0  12.6    75      8   23
116   45.0    212.0   9.7    79      8   24
117  168.0    238.0   3.4    81      8   25
118   73.0    215.0   8.0    86      8   26
119    NaN    153.0   5.7    88      8   27
120   76.0    203.0   9.7    97      8   28
121  118.0    225.0   2.3    94      8   29
122   84.0    237.0   6.3    96      8   30
123   85.0    188.0   6.3    94      8   31
124   96.0    167.0   6.9    91      9    1
125   78.0    197.0   5.1    92      9    2
126   73.0    183.0   2.8    93      9    3
127   91.0    189.0   4.6    93      9    4
128   47.0     95.0   7.4    87      9    5
129   32.0     92.0  15.5    84      9    6
130   20.0    252.0  10.9    80      9    7
131   23.0    220.0  10.3    78      9    8
132   21.0    230.0  10.9    75      9    9
133   24.0    259.0   9.7    73      9   10
134   44.0    236.0  14.9    81      9   11
135   21.0    259.0  15.5    76      9   12
136   28.0    238.0   6.3    77      9   13
137    9.0     24.0  10.9    71      9   14
138   13.0    112.0  11.5    71      9   15
139   46.0    237.0   6.9    78      9   16
140   18.0    224.0  13.8    67      9   17
141   13.0     27.0  10.3    76      9   18
142   24.0    238.0  10.3    68      9   19
143   16.0    201.0   8.0    82      9   20
144   13.0    238.0  12.6    64      9   21
145   23.0     14.0   9.2    71      9   22
146   36.0    139.0  10.3    81      9   23
147    7.0     49.0  10.3    69      9   24
148   14.0     20.0  16.6    63      9   25
149   30.0    193.0   6.9    70      9   26
150    NaN    145.0  13.2    77      9   27
151   14.0    191.0  14.3    75      9   28
152   18.0    131.0   8.0    76      9   29
153   20.0    223.0  11.5    68      9   30>

In [13]:
# code for T2
df.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [14]:
df.nunique()

Ozone       67
Solar.R    117
Wind        31
Temp        40
Month        5
Day         31
dtype: int64

In [16]:
# code for T3
# missing counts
missing_counts=df.isna().sum()
print(missing_counts)

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [21]:
# missing percentage
missing_percentage = df.isna().mean()*100
print(missing_percentage)

Ozone      24.183007
Solar.R     4.575163
Wind        0.000000
Temp        0.000000
Month       0.000000
Day         0.000000
dtype: float64

In [20]:
# Make a copy of the original DataFrame
df_mv = df.copy()
print (df.copy)

<bound method NDFrame.copy of      Ozone  Solar.R  Wind  Temp  Month  Day
1     41.0    190.0   7.4    67      5    1
2     36.0    118.0   8.0    72      5    2
3     12.0    149.0  12.6    74      5    3
4     18.0    313.0  11.5    62      5    4
5      NaN      NaN  14.3    56      5    5
6     28.0      NaN  14.9    66      5    6
7     23.0    299.0   8.6    65      5    7
8     19.0     99.0  13.8    59      5    8
9      8.0     19.0  20.1    61      5    9
10     NaN    194.0   8.6    69      5   10
11     7.0      NaN   6.9    74      5   11
12    16.0    256.0   9.7    69      5   12
13    11.0    290.0   9.2    66      5   13
14    14.0    274.0  10.9    68      5   14
15    18.0     65.0  13.2    58      5   15
16    14.0    334.0  11.5    64      5   16
17    34.0    307.0  12.0    66      5   17
18     6.0     78.0  18.4    57      5   18
19    30.0    322.0  11.5    68      5   19
20    11.0     44.0   9.7    62      5   20
21     1.0      8.0   9.7    59      5   21
22    11.0    320.0  16.6    73      5   22
23     4.0     25.0   9.7    61      5   23
24    32.0     92.0  12.0    61      5   24
25     NaN     66.0  16.6    57      5   25
26     NaN    266.0  14.9    58      5   26
27     NaN      NaN   8.0    57      5   27
28    23.0     13.0  12.0    67      5   28
29    45.0    252.0  14.9    81      5   29
30   115.0    223.0   5.7    79      5   30
31    37.0    279.0   7.4    76      5   31
32     NaN    286.0   8.6    78      6    1
33     NaN    287.0   9.7    74      6    2
34     NaN    242.0  16.1    67      6    3
35     NaN    186.0   9.2    84      6    4
36     NaN    220.0   8.6    85      6    5
37     NaN    264.0  14.3    79      6    6
38    29.0    127.0   9.7    82      6    7
39     NaN    273.0   6.9    87      6    8
40    71.0    291.0  13.8    90      6    9
41    39.0    323.0  11.5    87      6   10
42     NaN    259.0  10.9    93      6   11
43     NaN    250.0   9.2    92      6   12
44    23.0    148.0   8.0    82      6   13
45     NaN    332.0  13.8    80      6   14
46     NaN    322.0  11.5    79      6   15
47    21.0    191.0  14.9    77      6   16
48    37.0    284.0  20.7    72      6   17
49    20.0     37.0   9.2    65      6   18
50    12.0    120.0  11.5    73      6   19
51    13.0    137.0  10.3    76      6   20
52     NaN    150.0   6.3    77      6   21
53     NaN     59.0   1.7    76      6   22
54     NaN     91.0   4.6    76      6   23
55     NaN    250.0   6.3    76      6   24
56     NaN    135.0   8.0    75      6   25
57     NaN    127.0   8.0    78      6   26
58     NaN     47.0  10.3    73      6   27
59     NaN     98.0  11.5    80      6   28
60     NaN     31.0  14.9    77      6   29
61     NaN    138.0   8.0    83      6   30
62   135.0    269.0   4.1    84      7    1
63    49.0    248.0   9.2    85      7    2
64    32.0    236.0   9.2    81      7    3
65     NaN    101.0  10.9    84      7    4
66    64.0    175.0   4.6    83      7    5
67    40.0    314.0  10.9    83      7    6
68    77.0    276.0   5.1    88      7    7
69    97.0    267.0   6.3    92      7    8
70    97.0    272.0   5.7    92      7    9
71    85.0    175.0   7.4    89      7   10
72     NaN    139.0   8.6    82      7   11
73    10.0    264.0  14.3    73      7   12
74    27.0    175.0  14.9    81      7   13
75     NaN    291.0  14.9    91      7   14
76     7.0     48.0  14.3    80      7   15
77    48.0    260.0   6.9    81      7   16
78    35.0    274.0  10.3    82      7   17
79    61.0    285.0   6.3    84      7   18
80    79.0    187.0   5.1    87      7   19
81    63.0    220.0  11.5    85      7   20
82    16.0      7.0   6.9    74      7   21
83     NaN    258.0   9.7    81      7   22
84     NaN    295.0  11.5    82      7   23
85    80.0    294.0   8.6    86      7   24
86   108.0    223.0   8.0    85      7   25
87    20.0     81.0   8.6    82      7   26
88    52.0     82.0  12.0    86      7   27
89    82.0    213.0   7.4    88      7   28
90    50.0    275.0   7.4    86      7   29
91    64.0    253.0   7.4    83      7   30
92    59.0    254.0   9.2    81      7   31
93    39.0     83.0   6.9    81      8    1
94     9.0     24.0  13.8    81      8    2
95    16.0     77.0   7.4    82      8    3
96    78.0      NaN   6.9    86      8    4
97    35.0      NaN   7.4    85      8    5
98    66.0      NaN   4.6    87      8    6
99   122.0    255.0   4.0    89      8    7
100   89.0    229.0  10.3    90      8    8
101  110.0    207.0   8.0    90      8    9
102    NaN    222.0   8.6    92      8   10
103    NaN    137.0  11.5    86      8   11
104   44.0    192.0  11.5    86      8   12
105   28.0    273.0  11.5    82      8   13
106   65.0    157.0   9.7    80      8   14
107    NaN     64.0  11.5    79      8   15
108   22.0     71.0  10.3    77      8   16
109   59.0     51.0   6.3    79      8   17
110   23.0    115.0   7.4    76      8   18
111   31.0    244.0  10.9    78      8   19
112   44.0    190.0  10.3    78      8   20
113   21.0    259.0  15.5    77      8   21
114    9.0     36.0  14.3    72      8   22
115    NaN    255.0  12.6    75      8   23
116   45.0    212.0   9.7    79      8   24
117  168.0    238.0   3.4    81      8   25
118   73.0    215.0   8.0    86      8   26
119    NaN    153.0   5.7    88      8   27
120   76.0    203.0   9.7    97      8   28
121  118.0    225.0   2.3    94      8   29
122   84.0    237.0   6.3    96      8   30
123   85.0    188.0   6.3    94      8   31
124   96.0    167.0   6.9    91      9    1
125   78.0    197.0   5.1    92      9    2
126   73.0    183.0   2.8    93      9    3
127   91.0    189.0   4.6    93      9    4
128   47.0     95.0   7.4    87      9    5
129   32.0     92.0  15.5    84      9    6
130   20.0    252.0  10.9    80      9    7
131   23.0    220.0  10.3    78      9    8
132   21.0    230.0  10.9    75      9    9
133   24.0    259.0   9.7    73      9   10
134   44.0    236.0  14.9    81      9   11
135   21.0    259.0  15.5    76      9   12
136   28.0    238.0   6.3    77      9   13
137    9.0     24.0  10.9    71      9   14
138   13.0    112.0  11.5    71      9   15
139   46.0    237.0   6.9    78      9   16
140   18.0    224.0  13.8    67      9   17
141   13.0     27.0  10.3    76      9   18
142   24.0    238.0  10.3    68      9   19
143   16.0    201.0   8.0    82      9   20
144   13.0    238.0  12.6    64      9   21
145   23.0     14.0   9.2    71      9   22
146   36.0    139.0  10.3    81      9   23
147    7.0     49.0  10.3    69      9   24
148   14.0     20.0  16.6    63      9   25
149   30.0    193.0   6.9    70      9   26
150    NaN    145.0  13.2    77      9   27
151   14.0    191.0  14.3    75      9   28
152   18.0    131.0   8.0    76      9   29
153   20.0    223.0  11.5    68      9   30>

In [25]:
# Impute missing values
df_mv['Ozone'] = df_mv['Ozone'].fillna(df_mv['Ozone'].median())
df_mv['Solar.R'] = df_mv['Solar.R'].fillna(df_mv['Solar.R'].mean())
print (df.copy)

<bound method NDFrame.copy of      Ozone  Solar.R  Wind  Temp  Month  Day
1     41.0    190.0   7.4    67      5    1
2     36.0    118.0   8.0    72      5    2
3     12.0    149.0  12.6    74      5    3
4     18.0    313.0  11.5    62      5    4
5      NaN      NaN  14.3    56      5    5
6     28.0      NaN  14.9    66      5    6
7     23.0    299.0   8.6    65      5    7
8     19.0     99.0  13.8    59      5    8
9      8.0     19.0  20.1    61      5    9
10     NaN    194.0   8.6    69      5   10
11     7.0      NaN   6.9    74      5   11
12    16.0    256.0   9.7    69      5   12
13    11.0    290.0   9.2    66      5   13
14    14.0    274.0  10.9    68      5   14
15    18.0     65.0  13.2    58      5   15
16    14.0    334.0  11.5    64      5   16
17    34.0    307.0  12.0    66      5   17
18     6.0     78.0  18.4    57      5   18
19    30.0    322.0  11.5    68      5   19
20    11.0     44.0   9.7    62      5   20
21     1.0      8.0   9.7    59      5   21
22    11.0    320.0  16.6    73      5   22
23     4.0     25.0   9.7    61      5   23
24    32.0     92.0  12.0    61      5   24
25     NaN     66.0  16.6    57      5   25
26     NaN    266.0  14.9    58      5   26
27     NaN      NaN   8.0    57      5   27
28    23.0     13.0  12.0    67      5   28
29    45.0    252.0  14.9    81      5   29
30   115.0    223.0   5.7    79      5   30
31    37.0    279.0   7.4    76      5   31
32     NaN    286.0   8.6    78      6    1
33     NaN    287.0   9.7    74      6    2
34     NaN    242.0  16.1    67      6    3
35     NaN    186.0   9.2    84      6    4
36     NaN    220.0   8.6    85      6    5
37     NaN    264.0  14.3    79      6    6
38    29.0    127.0   9.7    82      6    7
39     NaN    273.0   6.9    87      6    8
40    71.0    291.0  13.8    90      6    9
41    39.0    323.0  11.5    87      6   10
42     NaN    259.0  10.9    93      6   11
43     NaN    250.0   9.2    92      6   12
44    23.0    148.0   8.0    82      6   13
45     NaN    332.0  13.8    80      6   14
46     NaN    322.0  11.5    79      6   15
47    21.0    191.0  14.9    77      6   16
48    37.0    284.0  20.7    72      6   17
49    20.0     37.0   9.2    65      6   18
50    12.0    120.0  11.5    73      6   19
51    13.0    137.0  10.3    76      6   20
52     NaN    150.0   6.3    77      6   21
53     NaN     59.0   1.7    76      6   22
54     NaN     91.0   4.6    76      6   23
55     NaN    250.0   6.3    76      6   24
56     NaN    135.0   8.0    75      6   25
57     NaN    127.0   8.0    78      6   26
58     NaN     47.0  10.3    73      6   27
59     NaN     98.0  11.5    80      6   28
60     NaN     31.0  14.9    77      6   29
61     NaN    138.0   8.0    83      6   30
62   135.0    269.0   4.1    84      7    1
63    49.0    248.0   9.2    85      7    2
64    32.0    236.0   9.2    81      7    3
65     NaN    101.0  10.9    84      7    4
66    64.0    175.0   4.6    83      7    5
67    40.0    314.0  10.9    83      7    6
68    77.0    276.0   5.1    88      7    7
69    97.0    267.0   6.3    92      7    8
70    97.0    272.0   5.7    92      7    9
71    85.0    175.0   7.4    89      7   10
72     NaN    139.0   8.6    82      7   11
73    10.0    264.0  14.3    73      7   12
74    27.0    175.0  14.9    81      7   13
75     NaN    291.0  14.9    91      7   14
76     7.0     48.0  14.3    80      7   15
77    48.0    260.0   6.9    81      7   16
78    35.0    274.0  10.3    82      7   17
79    61.0    285.0   6.3    84      7   18
80    79.0    187.0   5.1    87      7   19
81    63.0    220.0  11.5    85      7   20
82    16.0      7.0   6.9    74      7   21
83     NaN    258.0   9.7    81      7   22
84     NaN    295.0  11.5    82      7   23
85    80.0    294.0   8.6    86      7   24
86   108.0    223.0   8.0    85      7   25
87    20.0     81.0   8.6    82      7   26
88    52.0     82.0  12.0    86      7   27
89    82.0    213.0   7.4    88      7   28
90    50.0    275.0   7.4    86      7   29
91    64.0    253.0   7.4    83      7   30
92    59.0    254.0   9.2    81      7   31
93    39.0     83.0   6.9    81      8    1
94     9.0     24.0  13.8    81      8    2
95    16.0     77.0   7.4    82      8    3
96    78.0      NaN   6.9    86      8    4
97    35.0      NaN   7.4    85      8    5
98    66.0      NaN   4.6    87      8    6
99   122.0    255.0   4.0    89      8    7
100   89.0    229.0  10.3    90      8    8
101  110.0    207.0   8.0    90      8    9
102    NaN    222.0   8.6    92      8   10
103    NaN    137.0  11.5    86      8   11
104   44.0    192.0  11.5    86      8   12
105   28.0    273.0  11.5    82      8   13
106   65.0    157.0   9.7    80      8   14
107    NaN     64.0  11.5    79      8   15
108   22.0     71.0  10.3    77      8   16
109   59.0     51.0   6.3    79      8   17
110   23.0    115.0   7.4    76      8   18
111   31.0    244.0  10.9    78      8   19
112   44.0    190.0  10.3    78      8   20
113   21.0    259.0  15.5    77      8   21
114    9.0     36.0  14.3    72      8   22
115    NaN    255.0  12.6    75      8   23
116   45.0    212.0   9.7    79      8   24
117  168.0    238.0   3.4    81      8   25
118   73.0    215.0   8.0    86      8   26
119    NaN    153.0   5.7    88      8   27
120   76.0    203.0   9.7    97      8   28
121  118.0    225.0   2.3    94      8   29
122   84.0    237.0   6.3    96      8   30
123   85.0    188.0   6.3    94      8   31
124   96.0    167.0   6.9    91      9    1
125   78.0    197.0   5.1    92      9    2
126   73.0    183.0   2.8    93      9    3
127   91.0    189.0   4.6    93      9    4
128   47.0     95.0   7.4    87      9    5
129   32.0     92.0  15.5    84      9    6
130   20.0    252.0  10.9    80      9    7
131   23.0    220.0  10.3    78      9    8
132   21.0    230.0  10.9    75      9    9
133   24.0    259.0   9.7    73      9   10
134   44.0    236.0  14.9    81      9   11
135   21.0    259.0  15.5    76      9   12
136   28.0    238.0   6.3    77      9   13
137    9.0     24.0  10.9    71      9   14
138   13.0    112.0  11.5    71      9   15
139   46.0    237.0   6.9    78      9   16
140   18.0    224.0  13.8    67      9   17
141   13.0     27.0  10.3    76      9   18
142   24.0    238.0  10.3    68      9   19
143   16.0    201.0   8.0    82      9   20
144   13.0    238.0  12.6    64      9   21
145   23.0     14.0   9.2    71      9   22
146   36.0    139.0  10.3    81      9   23
147    7.0     49.0  10.3    69      9   24
148   14.0     20.0  16.6    63      9   25
149   30.0    193.0   6.9    70      9   26
150    NaN    145.0  13.2    77      9   27
151   14.0    191.0  14.3    75      9   28
152   18.0    131.0   8.0    76      9   29
153   20.0    223.0  11.5    68      9   30>

The median is preferred over the mean when a dataset has outliers or is skewed.
The mean is sensitive to extreme values and can be pulled up or down by them.
The median is more robust and gives a better central value when data isn’t evenly distributed.

In [26]:
# check that missing values are gone
df_mv.isna().sum()

Ozone      0
Solar.R    0
Wind       0
Temp       0
Month      0
Day        0
dtype: int64

In [28]:
# code for T4
# Creating a new DataFrame
df_sel = df[['Ozone', 'Solar.R', 'Temp']]

In [30]:
df_sel.head(10)

    Ozone  Solar.R  Temp
1    41.0    190.0    67
2    36.0    118.0    72
3    12.0    149.0    74
4    18.0    313.0    62
5     NaN      NaN    56
6    28.0      NaN    66
7    23.0    299.0    65
8    19.0     99.0    59
9     8.0     19.0    61
10    NaN    194.0    69

In [31]:
# Select rows where Month is May (5) or June (6) only.
# Here I got an error because my DataFrame has turned into a list, I have to reload the DataFrame.
df_sel = [(df['Month']==5) | (df['Month']==6)]

In [33]:
import pandas as pd
from pydataset import data

df = data('airquality')

In [34]:
df_sel = df[(df['Month'] == 5) | (df['Month'] == 6)]

In [35]:
df_sel['Month'].unique()

array([5, 6])

In [36]:
# Using .isin()
df_sel = df[df['Month'].isin([5, 6])]

In [37]:
# Using a Boolean mask
mask = df['Month'].isin([5, 6])
df_sel = df.iloc[mask.values]

In [38]:
# Using .iloc with a mask
mask = df['Month'].isin([5, 6])
df_sel = df.iloc[mask.values]

In [39]:
# Using a column list
columns = ['Ozone', 'Solar.R', 'Temp']
df_sel = df[df['Month'].isin([5, 6])][columns]

In [40]:
# This uses a boolean mask + .isin()
df_sel = df[df['Month'].isin([5, 6])]

In [41]:
df_sel['Month'].unique()

array([5, 6])

In [44]:
df_sel.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

In [45]:
df_sel.tail()

    Ozone  Solar.R  Wind  Temp  Month  Day
57    NaN    127.0   8.0    78      6   26
58    NaN     47.0  10.3    73      6   27
59    NaN     98.0  11.5    80      6   28
60    NaN     31.0  14.9    77      6   29
61    NaN    138.0   8.0    83      6   30